@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
}

button:focus {
  @apply outline-none;
}
@layer components {
  .btn-green {
    @apply py-3 px-4 bg-primary text-white text-sm font-sans shadow-none rounded-lg hover:bg-primary-500 focus:outline-none w-full lowercase capitalize;
  }
  .input-right{
    @apply px-4 py-3 rounded-lg bg-input-gray ring-1 ring-input-ring outline-none focus:bg-white focus:ring-1 focus:outline-none focus:ring-primary text-sm hover:outline-none;
  }
  .input-error{
    @apply px-4 py-3 rounded-lg bg-input-gray ring-1 ring-danger focus:bg-white focus:ring-1 focus:outline-none focus:ring-danger text-sm
  }
}